{% extends "templates/jirlie_web.html" %}
{% block title %}
Jirlie | Intellectual Property
{% endblock %}
{% block content %}

<div class="main mt-5" style="max-width: 50rem; margin: auto;">
    <h3>Intellectual Property</h3>
    <small>Ver.00 Mar 16, 2022</small>
    <br><br>
    Neu Ocean Technologies Ltd is a leading information services provider specialized in web-based business tools, digital business transformation solutions, business automation and Internet of things equipped with artificial intelligence, hologram, unified communications, VoIP, cloud, cyber-security and other latest technologies.
    <br><br>
    Neu Ocean Technologies is adopting a line of products named ‘Jirlie’. 
    <br><br>
    Neu Ocean Technologies Ltd is the sole owner of Neu Ocean, Jirlie, Jirlie Cloud Platform, Jirlie Entreprises and J-Moto trademarks, brand names and logos.
    <br><br>
    Neu Ocean Technologies Ltd owns all the source codes and APIs of its websites and products.
    <br><br>
    Neu Ocean Technologies Ltd reserves the copyrights of the contents of its websites, products, manuals and any type of relevant documents.
    <br><br>
    Patents and pending patent applications may apply to all products, services and technologies involved.
    <br><br>
    Non-disclosure agreement ref. NDA-P101-001 applies to all Neu Ocean Ltd correspondences, emails, documents and files and they are intended to be used carefully and distributed on need-to-know basis only.
    <br><br>
    <h4>You cannot</h4>
    <br>
    - use Neu Ocean brand names, trademarks, logos, logotypes, icons, trade dress or other elements of Neu Ocean packaging, websites or materials unless specifically permitted under these Guidelines or other applicable guidelines;
    <br><br>
    - use the trademarks in the name of your business, product, service, app, domain name, social media account, or other offering;
    <br><br>
    - use the trademarks more prominently than your product or service name;
    <br><br>
    - use the trademarks on promotional merchandise that you are selling or distributing (such as t-shirts, travel mugs, etc.);
    <br><br>
    - do or say anything or use the trademarks in a way that implies affiliation with, or sponsorship, endorsement or approval by Neu Ocean of your products or services;
    <br><br>
    - alter, animate, or distort the trademarks or combine them with any other symbols, words, images or designs, or incorporate them into a tagline or slogan.
</div>

{% endblock %}