{% extends "templates/jirlie_web.html" %}
{% block title %}
Neu Ocean
Technologies | Comprehensive and sophesticated digital transformation
solutions
{% endblock %}
{% block content %}

<div class="arrow">
    <i class="fa-solid fa-angle-up"></i>
  </div>

  <!-- Start Profile -->
  <div class="profile-company pt-5">
    <div class="container">
      <div class="profile m-auto rounded">
        <div class="profile-name d-flex align-items-center justify-content-center border-bottom p-3 pb-2 mb-3 flex-column">
          <img style=
          "width: 150px;" class="mw-100" src="../img/neu_ocean_logo_final.png" alt="">
          <span class="fw-bold">Neu Ocean Technologies LTD</span>
        </div>
        <div class="details p-3">
          <div class="row">
            <div class="col-lg-6 mb-2">
              <div class="details-1">
                <h4 class="text-primary">Company Details</h4>
                <div class="group">
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-regular fa-building"></i>
                  <p class="fw-bold">Company Name: <span class="text-secondary">USD</span></p>
                </div>
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-solid fa-lines-leaning"></i>
                  <p class="fw-bold">Tagline: <span class="text-secondary">USD</span></p>
                </div>
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-regular fa-note-sticky"></i>
                  <p class="fw-bold">Company Description: <span class="text-secondary">USD</span></p>
                </div>
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-regular fa-building"></i>
                  <p class="fw-bold">Domain: <span class="text-secondary">USD</span></p>
                </div>
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-solid fa-toolbox"></i>
                  <p class="fw-bold">Comapny Size: <span class="text-secondary">USD</span></p>
                </div>
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-solid fa-phone"></i>
                  <p class="fw-bold">phone No.: <span class="text-secondary">USD</span></p>
                </div>
              </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
              <div class="profile-icon d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-building"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="details p-3">
          <div class="row">
            <div class="col-lg-6 mb-2">
              <div class="details-1">
                <h4 class="text-primary">Address</h4>
                <div class="group">
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-solid fa-location-dot"></i>
                  <p class="fw-bold">Address Line 1: <span class="text-secondary">Saaas Services, Bms solutions</span></p>
                </div>
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-solid fa-location-dot"></i>
                  <p class="fw-bold">Address Line 2: <span class="text-secondary">USD</span></p>
                </div>
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-solid fa-city"></i>
                  <p class="fw-bold">City/Town: <span class="text-secondary">USD</span></p>
                </div>
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-solid fa-s"></i>
                  <p class="fw-bold">State/Province: <span class="text-secondary">USD</span></p>
                </div>
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-solid fa-envelopes-bulk"></i>
                  <p class="fw-bold">Postal Code: <span class="text-secondary">USD</span></p>
                </div>
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-solid fa-globe"></i>
                  <p class="fw-bold">Country: <span class="text-secondary">USD</span></p>
                </div>
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-solid fa-link"></i>
                  <p class="fw-bold">Website: <span class="text-secondary">USD</span></p>
                </div>
                <div class="detail d-flex gap-2 align-items-center">
                  <i class="fa-solid fa-envelope"></i>
                  <p class="fw-bold">Email: <span class="text-secondary">USD</span></p>
                </div>
              </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
              <div class="profile-icon d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-earth-americas"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="details-1 p-3">
          <h4 class="text-primary">Specialization</h4>
          <div class="group">
          <div class="detail d-flex gap-2 align-items-center">
            <i class="fa-solid fa-coins"></i>
            <p class="fw-bold">currency: <span class="text-secondary">Saaas Services, Bms solutions</span></p>
          </div>
          <div class="detail d-flex gap-2 align-items-center">
            <i class="fa-solid fa-shop"></i>
            <p class="fw-bold">Products: <span class="text-secondary">USD</span></p>
          </div>
          <div class="detail d-flex gap-2 align-items-center">
            <i class="fa-solid fa-list-ul"></i>
            <p class="fw-bold">Preferred Setting List: <span class="text-secondary">USD</span></p>
          </div>
          <div class="detail d-flex gap-2 align-items-center">
            <i class="fa-solid fa-table-list"></i>
            <p class="fw-bold">Preferred Buying List: <span class="text-secondary">USD</span></p>
          </div>
        </div>
        </div>
        <div class="details p-3">
          <div class="row">
            <div class="col-lg-4 mb-3">
              <img style="width: 270px;
              height: 145px;
              object-fit: cover;" class="mw-100 rounded" src="../img/contact.webp" alt="">
            </div>
            <div class="col-lg-4">
              <img style="width: 270px;
              height: 145px;
              object-fit: cover;" class="mw-100 mb-3" src="../img/contact.webp" alt="">
            </div>
            <div class="col-lg-4">
              <img style="width: 270px;
              height: 145px;
              object-fit: cover;" class="mw-100" src="../img/contact.webp" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Profile -->


  {% endblock %}