        <!-- Start Footer -->
        <div class="footer">
            <!-- Foot 1 -->
            <div class="foot-1 border-bottom">
              <div class="container">
                <div class="text">
                  <p>Get connected with us on social networks:</p>
                </div>
                <div class="social">
                  <a href="https://www.facebook.com/jirlieofficial"><i class="fa-brands fa-facebook"></i></a>
                  <a href="https://www.instagram.com/jirlieofficial/"><i class="fa-brands fa-instagram"></i></a>
                  <a href="https://twitter.com/jirlieofficial"><i class="fa-brands fa-twitter"></i></a>
                  <a href="https://www.linkedin.com/company/jirlie/"><i class="fa-brands fa-linkedin"></i></a>
                  <a href="https://www.youtube.com/channel/UCb-OMzKYcdBp0QXjPoGEjdA"><i class="fa-brands fa-youtube"></i></a>
                  <!-- <a href=""><i class="fa-brands fa-github"></i></a> -->
              </div>
              </div>
            </div>
            <!-- Foot 3 -->
            <div class="foot-3">
              <div class="container d-flex justify-content-between">
                <p>&copy; Neu Ocean Technologies Ltd</p>
                <p class="policy_terms">
                  <a href="/news">News</a>
                  <a href="/terms">Terms of Use</a>
                  <a href="/privacy">Privacy Policy</a>
                  <a href="/cookies">Cookies</a>
                  <a href="/intellectual-property">Intellectual Property</a>
                </p>
                <!-- <p>
                  Powered by Jirlie Enterprise, Digital Business Transformation
                  Solution
                </p> -->
              </div>
            </div>
          </div>
          <!-- End Footer -->
          <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
          <script src="/assets/jirlie_template/js/bootstrap.bundle.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.4/swiper-bundle.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script src="/assets/jirlie_template/js/main.js"></script>
          <script src="/assets/jirlie_template/js/geo.js"></script>

          <script>
            AOS.init();
          </script>
          <script>
            const phoneInputField = document.querySelector("#phone");
            const phoneInput = window.intlTelInput(phoneInputField, {
              utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
            });
          </script>
          <script src="/assets/jirlie_template/js/swiper.js"></script>
          {% for include in include_js %}
          {{ include_script(include) }}
          {% endfor %}

          {%- block script %}
          {% if colocated_js -%}
          <script>{ { colocated_js } }</script>
          {%- endif %}
          {%- endblock %}
          <!-- csrf_token -->
          {%- block body_include %}{{ body_include or "" }}{% endblock -%}
        </body>
      </html>