{% extends "templates/jirlie_web.html" %}
{% block title %}
Jirlie | Home
{% endblock %}
{% block content %}


<!-- Start Sign Up -->
<div class="sign-up mt-5">
    <div class="container">
        <form class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label"
                >First Name</label
              >
              <input type="text" class="form-control" id="inputEmail4" />
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label"
                >Last Name</label
              >
              <input
                type="text"
                class="form-control"
                id="inputPassword4"
              />
            </div>
            <div class="col-12 d-flex flex-column">
              <label for="inputPhone" class="form-label">phone</label>
              <input id="phone" type="tel" name="phone"  class="form-control" />
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">New Password</label>
              <input type="password" class="form-control" id="inputAddress" />
            </div>
            <div class="col-md-12">
              <label for="birthday" class="form-label">Birthday</label>
              <input class="form-control" type="date" id="birthday" name="birthday">
            </div>
            <div class="col-12">
              <label for="inputEmail" class="form-label">Confirm Your Email</label>
              <input type="email" class="form-control" id="inputEmail" />
            </div>
            <div class="col-12">
              <button
                type="submit"
                class="btn main-btn d-block mb-4 me-auto ms-auto"
              >
                Sign Up
              </button>
            </div>
          </form>
    </div>
</div>
<!-- End Sign Up -->
{% endblock %}